<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>65</integer>
	<integer>66</integer>
	<integer>67</integer>
	<integer>68</integer>
	<integer>69</integer>
	<integer>70</integer>
	<integer>71</integer>
	<integer>72</integer>
	<integer>73</integer>
	<integer>74</integer>
</array>
</plist>
